//techcommunity-unformatted-markdown-detector - common.scss

$spacer: 15px;

.umd_warning-modal {
  .modal-body {
    padding: 0 $spacer;
  }

  .checkbox-label {
    display: flex;
    justify-content: flex-end;
    margin: $spacer 0;
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin: $spacer 0;
  }
}
